<div class="lhl-form-columns">
  <div class="lhl-form-columns-column lhl-form-columns-column--left lhl-animated-left" lhl-element="animated" {{ widget.background is not empty ? 'style="background-color:'~ widget.background ~'"' : '' }}>
    <div class="lhl-form-columns-column-inner">
      {{ widget.left }}
    </div>
  </div>
  <div class="lhl-form-columns-column lhl-form-columns-column--right lhl-animated-right" lhl-element="animated" {{ widget.card_background is not empty ? 'style="background-color:'~ widget.card_background ~'"' : '' }}>
    <div class="lhl-form-columns-column-inner">
      {{ widget.right }}
    </div>
  </div>
</div>